body {font-family: Arial, Helvetica, sans-serif;}
form {border: 2px solid #f1f1f1;}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
background-image: linear-gradient(to right, #2520BD , #1CEAF1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size:20px;
     border-radius: 10px 100px / 120px; 
}

button:hover {
  opacity: 0.8;
}


.container {
  padding: 16px;
}

.h1{
    font-size: 30px;
    text-align:center;
    font-weight: bold;
    font-family:Times New Roman,sans-serif;
}
